<div class="day-view">
  <h2>{{ dayDate().toLocaleString(DateTime.DATE_HUGE) }}</h2>

  <div class="hour-block" *ngFor="let hour of hours; let i = index">
    <div class="hour-label">{{ hour }}</div>
  </div>

  <div class="events-container">
    <div
      class="event"
      *ngFor="
        let event of calendarService.getEventsForDate(dayDate().toISODate()!)
      "
      [ngStyle]="getEventStyle(event)"
      [style.background-color]="event.color"
      (click)="onEventClick(event)"
    >
      <strong>{{ event.eventName }}</strong>
      <div>{{ event.sTime }} - {{ event.eTime }}</div>
    </div>
  </div>

  <div class="navigation">
    <button (click)="goToPreviousDay()">Previous Day</button>
    <button (click)="goToNextDay()">Next Day</button>
  </div>
</div>
