
<div>
    <!-- THIS NEEDS MORE FORMATTING TO MAKE IT LOOK PRETTY. should prolly be done in app.component.css -->
    <div class="dropdown">
        <button (click)="dropdownOpen = !dropdownOpen">Filter</button>
        <div *ngIf="dropdownOpen">
            <div *ngFor="let item of filterItem; let i = index">
                <input type="checkbox" [checked]="selectedFilter[i]" (change)="toggleSelectedFilter(i)">
                {{ item }}
            </div>
        </div>
    </div>

    <calendar></calendar>