<div>
    <div class="top-bar">
        <div class="dropdown">
            <button (click)="dropdownOpen = !dropdownOpen">Filter</button>
            <div *ngIf="dropdownOpen" class="floating-menu">
                <label *ngFor="let item of filterItem; let i = index" class="checkbox">
                    {{ item }}
                    <input type="checkbox" [checked]="selectedFilter[i]" (change)="toggleSelectedFilter(i)" style="float: right">
                </label>
            </div>
        </div>

        <div class="views">
            <button (click)="setSelectedView('day')">Day</button>
            <button (click)="setSelectedView('week')">Week</button>
            <button (click)="setSelectedView('month')">Month</button>
        </div>
    </div>

    <!-- decides what view to display based on the selected button -->
    <div *ngIf="selectedView === 'day'">
        <app-day></app-day>
    </div>
    <div *ngIf="selectedView === 'week'">
        <app-week></app-week>
    </div>
    <div *ngIf="selectedView === 'month'">
        <calendar></calendar>
    </div>

</div>
